<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="main.css">
    <title>チャック・ノリス</title>

</head>
<body>

    <div id="norris">
        <img id="pic" src="https://enterpriseengineeringnetwork.org/images/chuck-norris-png-3.png"> <br>
    </div>
    <input id="refresh" type="button" value="Tell me another joke" onClick="window.location.reload()">
    <h2 id="joke"> <%= @joke %>  </h2>
</body>
</html>