body{
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(233, 93, 0);
    color: #fff;
}

#joke{
    font-size: 1.5em;
    text-align: center;
    margin: 2.5% auto;
    width: 66%;
}

#norris{
    width: 50%;
    height: 50%;
    margin: 25px auto;
}

#norris img {
    display: block;
    margin: 0 auto;
    max-width: 33%;

}

#refresh{
    color: #fff;
    font-size: 1.25em;
    display: block;
    margin: 0 auto;
    border-radius: 5%;
    background-color: #ff0000;
}